  <header class="navbar">
    <div class="nav-left">
      <a id="nav-left-a-home" href="/">Home</a>
      <a href="#blog-list">Blogs</a>
    </div>

    <div class="nav-right">
      <a href="http://linkedin.amritpreetsingh.in/" class="icon">
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a href="http://instagram.amritpreetsingh.in/" class="icon">
        <i class="fa-brands fa-instagram"></i>
      </a>
    </div>
  </header>